html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Exo', sans-serif;
    overflow-x: hidden;
}

nav {
    background-color: white;
    width: 35vw;
    position: fixed;
    top: 0;
    left: 25vw;
    transform: translateX(-50%);
    z-index: 10;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    color: #4c0072;
    text-decoration: none;
    padding: 15px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #4c0072;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-underline {
    width: 35vw;
    height: 1.5px;
    background-color: #4c0072;
    position: fixed;
    top: 53px;
    left: 25vw;
    transform: translateX(-50%);
    z-index: 10;
}

main {
    position: relative;
    height: 100vh;
    display: flex;
}

.left-section {
    flex-grow: 1;
    height: 100vh;
    background-color: white;
    position: relative;
    z-index: 3;
}

#lottie-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    display: flex;
    align-items: center;
}

#lottie-container dotlottie-player {
    height: 100%;
    width: auto;
}

.right-section {
    width: 45vw;
    background-color: #4c0072;
    position: relative;
    height: 100vh;
    z-index: 3;
    overflow: visible;
}

#spline-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    pointer-events: none;
    display: flex;
    align-items: center;
}

spline-viewer {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 5;
}

.bottom-div {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 55px;
   background-color: #AEA4FA;
   z-index: 1000;
}

.top-line {
   position: fixed;
   bottom: 55px;
   left: 0;
   width: 100%;
   height: 5px;
   background-color: #07407b;
   z-index: 1001;
}

@media (max-width: 1200px) {
   .right-section {
       width: 45vw;
   }
}