/* Modify the body::before and body::after */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; /* Changed from 50px to 100px */
    background-color: #07407b;
    z-index: 1000;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    background-color: #07407b;
    z-index: 1000;
}

/* Adjust the wrapper */
.wrapper {
    position: relative;
    padding: 20px;
    min-height: 100vh;
    width: calc(100% - 50px); /* Adjust for the left border */
    overflow: auto;
    margin-top: 100px; /* Adjust for the fixed top border */
    margin-left: 50px; /* Adjust for the fixed left border */
}

/* Adjust the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #07407b;
    padding: 10px 20px;
    position: fixed;
    top: 100px; /* Adjust to sit below the top border */
    left: 50px; /* Adjust to sit next to the left border */
    right: 0;
    z-index: 999; /* Ensure it's below the top border */
}

/* Adjust the slideshow container */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    margin-top: 70px; /* Adjust based on your header height */
    z-index: 1;
}
